<div class="container">
<button id="coverEdit" >EDITAR</button>
  
  {{#if photoURL}}
  <img src="{{photoURL}}" alt="{{username}}">
  {{else}}
  <img 
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQopX4_8IGscQTYwpSREOzeW8NHwcArkMkOl3Y1q_EBSiVNCftbvw" 
    alt="{{username}}"
  >
  {{/if}}

</div>
<section class="info">
  <form action="/profile" method="post" enctype="multipart/form-data" >
    <input value="{{username}}" name="username" type="text">
    <br>
    <input value="{{email}}" name="email" type="text">
    <input name="photoURL" id="fileInput" hidden type="file" accept="image/*">
    <input type="submit">
  </form>
</section>

<script>
  //  Click listener
  document.getElementById('coverEdit').addEventListener('click', function() {
    document.getElementById('fileInput').click()
  })
  // After pic selection
    document.getElementById('fileInput').addEventListener('change', function() {
    document.querySelector('form').submit()
  })
</script>