<section class="log-sign">

<div class="form-log">

  {{#if user.photoURL}}
  <img class="pic" src="{{user.photoURL}}" alt="{{user.name}}">
  {{else}}
  <img class="pic" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQopX4_8IGscQTYwpSREOzeW8NHwcArkMkOl3Y1q_EBSiVNCftbvw" >
  {{/if}}
  <ul>
    <li>Nombre: {{#if user.email}}{{user.name}}{{else}}NA{{/if}}</li>
    <li>Email: {{user.email}}</li>
    <li>Comentarios: {{get_length comments}} </li>
  </ul>
  <h6>Comentarios:</h6>
{{#each comments}}
<blockquote>{{this.body}}</blockquote> publicado en <a href="/{{this.place.slug}}/{{this.place.id}}">{{this.place.name}}</a>
{{/each}}

 </section>
