<h1>Crea tu cuenta</h1>

<form action="/signup" method="post">
  <p>Nombre de usuario
    <input type="text" name="username" value="{{username}}">
    <p style="color:red">{{errors.username}}</p>
  </p>
  <p>Email
    <input type="email" name="email" value="{{email}}">
    <p style="color:red">{{errors.email}}</p>
  </p>
  <p>Password
    <input type="password" name="password">
    <p style="color:red">{{errors.password}}</p>
  </p>
  <p>Password (otra vez)
    <input type="password" name="password2">
  </p>
  <input type="submit">
</form>