<article class="admin">
  <a href="/admin/cities">Volver al listado</a>
<h2>Add a new city</h2>
<form action="{{config.action}}" method="POST" enctype="multipart/form-data">
<p>City name
  <input type="text" name="cityname" value="{{city.cityname}}">
</p>
<p>City picture 
  <input type="file" name="photoURL" accept="image/*">
</p>
<p>Coordinates
  <input type="text"  name="address.coordinates" value="{{city.address.coordinates}}">
</p>
<p>Slug
  <input type="text"  name="slug" value="{{city.slug}}">
</p>
<p>Activar
  <select name="active">
    <option value="true">Active</option>
    <option value="false">Inactive</option>
  </select>
</p>
  <input type="submit" value="{{config.submit}}">
</form>
</article>