<article class="admin admin-places-card">
<div class="admin-list">
  <h3><a href="/admin/cities/">Cities</a></h3>
  <p><a href="/admin/cities/new">Add new</a></p>
</div>
<div class="admin-list">
  <h3><a href="/admin/places/">Places</a></h3>
  <p><a href="/admin/places/new">Add new</a></p>
  <ul>
    {{#each places}}
    <li><a href="/admin/places/edit/{{this._id}}">{{this.name}}</a></li>
    {{/each}}
  </ul>
</div>
<div class="admin-list">
  <h3><a href="/admin/users/">Users</a></h3>
  <ul>
      {{#each users}}
    <li><a href="/admin/users/{{this._id}}">{{this.email}}</a></li>
    {{/each}}
    </ul>
</div>
<div class="admin-list">
  <h3><a href="/admin/comments/">Comments</a></h3>
    <ul>
      {{#each comments}}
    <li><a href="/admin/comments/{{this._id}}">{{this.createdAt}}</a></li>
    {{/each}}
    </ul>
</div>
</article>