<article class="admin">
<a href="/admin">Volver a Admin</a> | <a href="/admin/places/new">Crear uno nuevo</a>
<h2>List of places</h2>
{{#each places}} 
<div class="admin-places-card">
<img src="{{this.pictures.[0]}}">
<div>
<h3><a href="/admin/places/edit/{{this._id}}">{{this.name}}</a></h3>
<p>Active: {{this.active}}</p>
<p><a href="/admin/places/edit/{{this._id}}">Editar</a></p>
</div>
</div>
{{/each}}
</article>