<article class="admin">
  <a href="/admin/places">Volver al listado</a>
  <h2>Add a new place</h2>
  <h3>Import a Foursquare venue</h3>
<div class="block" hidden="{{fqBlock}}">
  <p>Foursquare URL
  <input type="text" id="fqUrl">
  <button id="fqBtn">Importar</button>
</p>
</div>
<form action="/admin/places/new" method="POST" enctype="multipart/form-data">
  <h3>Place description</h3>
<div class="block">
<p>Place name
  <input type="text" name="name"  id="placeName" required>
</p>
<p>Place type
  <select name="type" id="placeType">
    <option value="Vegan">Vegano</option>
    <option value="Vegetarian">Vegetariano</option>
  </select>
</p>
<p>Food type
  <input type="text" name="foodType"  id="placeFoodType">
</p>
<p>Description
  <input type="text" name="description"  id="placeDescription">
</p>
<p>Rating
  <input type="text" name="rating"  id="placeRating">
</p>
<p>Price range
  <input type="text" name="priceRange"  id="placePriceRange">
</p>
</div>
  <h3>Logistics</h3>
<div class="block">
<p>Open times
  <input type="text" name="openTimes"  id="placeOpenTimes">
</p>
<p>Phone number
  <input type="text" name="phoneNumber"  id="placePhone">
</p>
<p>Address
  <input type="text" name="address.location"  id="placeAddress">
</p>
<p>City
  <select name="cityId" id="placeCity">
    {{#each cities}}
    <option value="{{this._id}}">{{this.cityname}}</option>
    {{/each}}
  </select>
</p>
<div id="map"></div>
</div>
<h3>Pictures</h3>
<div class="block">
<p>Add one or more pics separated by comma
  <input type="text" name="pictures"  id="placePics">
</p>
</div>
<h3>Social</h3>
<div class="block">
<p>Likes
  <input type="text" name="social.likes"  id="placeLikes" value="{{social.likes}}">
</p>
<p>Dislikes
  <input type="text" name="social.dislikes"  id="placeDislikes" value="{{social.dislikes}}">
</p>
<p>Instagram
  <input type="text" name="social.instagram"  id="placeInstagram" value="{{social.instagram}}">
</p>
<p>Foursquare
  <input type="text" name="social.foursquare"  id="placeFoursquare" value="{{social.foursquare}}">
</p>
<p>Twitter
  <input type="text" name="social.twitter"  id="placeTwitter" value="{{social.twitter}}">
</p>
<p>Facebook
  <input type="text" name="social.facebook"  id="placeFacebook" value="{{social.facebook}}">
</p>
<p>URL
  <input type="text" name="social.url"  id="placeUrl" value="{{social.url}}">
</p>
</div>
<input type="text" name="foursquareId"  id="placeFoursquareId" hidden value="{{foursquareId}}">
<input type="text" name="slug"  id="placeSlug" hidden value="{{slug}}">
<input type="text" name="address.coordinates.lat"  id="placeLat" value="{{address.coordinates.lat}}" hidden>
<input type="text" name="address.coordinates.lng"  id="placeLng" value="{{address.coordinates.lng}}" hidden>
<p>Active
  <select name="active" id="active">
    <option value="true">Activo</option>
    <option value="false">Inactivo</option>
  </select>
</p>
{{!-- <p><a href="/admin/places/delete/{{_id}}"><button>Borrar</button></a></p> --}}
<input type="submit" value="Enviar">
</form>
</article>
<script src="/javascripts/place.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
<script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>