<header>
  <h2>{{place.name}}</h2>
  <p>{{place.description}}</p>
  <div id="rating">
    </div>
</header>
<div class="place-nav">
<div><a href="#opiniones"><i class="material-icons">thumb_up_alt</i>{{place.rating}}/10 </a></div>
<div><a href="#menu"><i class="material-icons">fastfood</i> {{place.foodType}}</a></div>
<div><a href="#contacto"><i class="material-icons">location_on</i> {{place.address.location}}</a></div>
<div><a href="#compartir"><i class="material-icons">share</i> Compartir</a></div>
</div>
<article class="place-container">
<div id="menu">
  <h3>Menu de {{place.name}}</h3>
   <ul>
      <li>{{place.foodType}}</li>
      <li>{{place.type}}</li>
      <li>Rango de precio: {{place.priceRange}}</li>
    </ul>
</div>
<div id="fotos">
  <h3>Fotos de {{place.name}}</h3>
  {{#each place.pictures}}
  <img src="{{this}}" alt="Foto {{@index}}">
  {{/each}}
</div>
<div id="opiniones">
  <h3>Opiniones de {{place.name}}</h3>
  <form action="/comer/{{place._id}}" method="POST" enctype="multipart/form-data">
  <input type="text" name="body" placeholder="Que te ha parecido {{place.name}}?">
  <input type="file" accept="image/*">
  <input type="submit">
  </form>
   {{#each comments}}
   <div id="place-comment">
     <p>{{comment.body}}</p>
     <p>{{comment.authorId}}</p>
   </div>
   {{/each}}
</div>
<div id="contacto">
  <h3>Contactar con {{place.name}}</h3>
  <div id="place-column-50">
    <ul>
      <li>Direccion: {{place.address.location}}</li>
      <li>{{place.address.coordinates.lng}}, {{place.address.coordinates.lat}}</li>
      <li>Abierto: {{place.openTimes}}</li>
      {{#if place.phoneNumber}}<li>Telefono: {{place.phoneNumber}}</li>{{/if}}
      <li>Instagram: {{place.social.instagram}}</li>
      <li>Foursquare: {{place.social.foursquare}}</li>
      <li>Facebook: {{place.social.facebook}}</li>
      <li>Twitter: {{place.social.twitter}}</li>
    </ul>
  </div>
  <div id="map"></div>
</div>
</article>

<script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
<script>
mapboxgl.accessToken = 'pk.eyJ1IjoicG9sZ29pZGUiLCJhIjoiY2pzMXhrOW1uMXo0ZTQ0bzNscG52N2c3OSJ9.idfHSgW5pK1sKEx5OAtnTw';
const map = new mapboxgl.Map({
container: "map", 
style: "mapbox://styles/mapbox/streets-v11",
center: [{{place.address.coordinates.lng}}, {{place.address.coordinates.lat}}],
zoom: 10,
})
const marker = new mapboxgl.Marker({
  color: 'red',
}).setLngLat([{{place.address.coordinates.lng}}, {{place.address.coordinates.lat}}]).addTo(map)

</script>