<header style="background-image: url('{{place.pictures.[0]}}')">
  <h2>{{place.name}}</h2>
  <p>{{place.description}}</p>
  <div id="rating">
    {{place.rating}}/10
    <p>{{place.social.likes}} opiniones</p>
    </div>
</header>
<div class="place-nav card-panel green lighten-3">
<div><a href="#opiniones"><i class="fa fa-star"></i> <span class="place-nav-menu">{{place.rating}}/10</span></a></div>
<div><a href="#fotos"><i class="fa fa-picture-o" aria-hidden="true"></i> <span class="place-nav-menu">Fotos</span></a></div>
<div><a href="#menu"><i class="fa fa-cutlery"></i> <span class="place-nav-menu">Menu</span></a></div>
<div><a href="#contacto"><i class="fa fa-map-marker"></i> <span class="place-nav-menu">Direccion</span></a></div>
</div>
<article class="place-container">
<h3>Menu de {{place.name}}</h3>
<div class="card-panel orange lighten-4" id="menu">
  {{place.name}} es un restaurante situado en {{place.address.location}}. Estan especializados en {{place.foodType}} y los {{place.social.likes}} veganos/vegetarianos que han ido, le han puesto una nota media de {{place.rating}}/10.
   <ul>
      <li>Especialidad: {{place.foodType}}</li>
      <li>Vegano o vegetariano? {{place.type}}</li>
      <li>Rango de precio: {{place.priceRange}}</li>
    </ul>
</div>
  <h3>Fotos de {{place.name}}</h3>
<div  class="card-panel orange lighten-4" id="fotos">
  {{#each place.pictures}}
  <img src="{{this}}" alt="Foto {{@index}}" class="materialboxed">
  {{/each}}
</div>
<h3>Opiniones de {{place.name}}</h3>
<div  class="card-panel orange lighten-4" id="opiniones">
  {{#if logged}}
  <div class="place-new-comment">
  <form action="/{{place.slug}}/{{place._id}}" method="POST" enctype="multipart/form-data">
  <p><input class="white" type="text" name="body" placeholder="Que te ha parecido {{place.name}}?"></p>
  <p><input name="pictures" type="file" accept="image/*"></p>
  <p><input type="submit" class="waves-effect waves-light btn" value="Postear"></p>
  </div>
  {{else}}
  <div class="place-new-comment">
    <p>Para dar tu opinion, crea tu cuenta usando Facebook. Son 2 clicks!</p>
    <a href="/facebook/login?next=/{{place.slug}}/{{place.id}}" class="waves-effect waves-light btn-large indigo darken-2">
    <i class="fa fa-facebook"></i> Entra con Facebook</a>
  </div>
  {{/if}}
  </form>
  {{#if comments}}
  <h6>Opiniones de otros veganos</h6>
   {{#each comments}}
   <div id="place-comment">
     <div class="place-comment-profile">
       {{#if this.authorId.photoURL}}
       <img src="{{this.authorId.photoURL}}" alt="{{this.authorId.name}}">
       {{else}}
       <img src="https://secure.gravatar.com/avatar/af866a9b55ceb905c6de928aeebfc1f6?s=96&d=https%3A%2F%2Fstatic.teamtreehouse.com%2Fassets%2Fcontent%2Fdefault_avatar-ea7cf6abde4eec089a4e03cc925d0e893e428b2b6971b12405a9b118c837eaa2.png&r=pg" alt="{{this.authorId.name}}" width="50px">
       {{/if}}
     </div>
     <div class="place-comment-content">
     <p><b>{{#if this.authorId.photoURL}}{{this.authorId.name}}{{else}}Usuario anonimo{{/if}}</b></p>
     <p>{{this.body}}</p>
     {{#each this.pictures}}
     <img src="{{this}}" alt="{{@index}}" class="materialboxed">
     {{/each}}
     </div>
   </div>
   {{/each}}
   {{else}}
   <p>Se el primero en dar tu opinion sobre {{place.name}}!</p>
   {{/if}}
</div>
<h3>Contactar con {{place.name}}</h3>
<div class="card-panel orange lighten-4" id="contacto">
  <div id="map"></div>
    <div class="place-column-50">
    <ul>
      <li><i class="fa fa-map-marker" aria-hidden="true"></i> {{place.address.location}}</li>
      {{#if place.openTimes}}<li><i class="fa fa-clock-o" aria-hidden="true"></i> {{place.openTimes}}</li>{{/if}}
      {{#if place.phoneNumber}}<li><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:{{place.phoneNumber}}">{{place.phoneNumber}}</a></li>{{/if}}
    </ul>
</div>
</div>
      <h3>{{place.name}} en  las redes</h3>
<div class="card-panel orange lighten-4" id="social">
  <ul>
      {{#if place.social.instagram}}<li><a href="https://www.instagram.com/{{place.social.instagram}}" target="_blank" title="Instagram {{place.name}}" class="waves-effect waves-light btn-floating btn-large">
<i class="fa fa-instagram"></i></a></li>{{/if}}
      {{#if place.social.foursquare}}<li><a href="{{place.social.foursquare}}" target="_blank"  title="Foursquare {{place.name}}" class="waves-effect waves-light btn-floating btn-large pink lighten-2">
<i class="fa fa-foursquare"></i></a></li>{{/if}}
      {{#if place.social.facebook}}<li><a href="https://www.facebook.com/{{place.social.facebook}}" target="_blank" title="Facebook {{place.name}}" class="waves-effect waves-light btn-floating btn-large indigo darken-2">
<i class="fa fa-facebook"></i></a></li>{{/if}}
      {{#if place.social.twitter}}<li><a href="https://twitter.com/{{place.social.twitter}}" target="_blank" title="Twitter {{place.name}}" class="waves-effect waves-light btn-floating btn-large blue lighten-3">
<i class="fa fa-twitter"></i></a></li>{{/if}}
{{#if place.social.url}}<li><a href="{{place.social.url}}" target="_blank" title="Website {{place.name}}" class="waves-effect waves-light btn-floating btn-large grey">
<i class="fa fa-link"></i></a></li>{{/if}}
    </ul>
  </div>
  <p class="place-more-restaurants"><a href="/ciudad/{{place.cityId._id}}" class="waves-effect waves-light btn">Mas de {{place.cityId.cityname}}</a></p>
</article>

<script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
<script>
mapboxgl.accessToken = 'pk.eyJ1IjoicG9sZ29pZGUiLCJhIjoiY2pzMXhrOW1uMXo0ZTQ0bzNscG52N2c3OSJ9.idfHSgW5pK1sKEx5OAtnTw';
const map = new mapboxgl.Map({
container: "map", 
style: "mapbox://styles/mapbox/streets-v11",
center: ["{{place.address.coordinates.lng}}", "{{place.address.coordinates.lat}}"],
zoom: 13,
})
const marker = new mapboxgl.Marker({
  color: 'red',
}).setLngLat([{{place.address.coordinates.lng}}, {{place.address.coordinates.lat}}]).addTo(map)

</script>