<div class="container">
<h1>{{title}}</h1>

<h3>Ciudades</h3>
{{#each cities}}
<p><a href="/ciudad/{{this.id}}">{{this.cityname}}</a></p>
{{/each}}

<h3>Restaurantes</h3>
{{#each places}}
<p><a href="/{{this.slug}}/{{this.id}}">{{this.name}}</a></p>
{{/each}}
</div>