<header style="background-image: url('/images/receta-de-ensalada-de-lentejas-vegetariana.jpg')">
  <h2>Los mejores restaurantes vegetarianos</h2>
  <p>Hacemos comer sano muy facil</p>
</header>
<div class="container">

<h3>Top Ciudades</h3>
<div class="list-container">
{{#each cities}}
<a href="/ciudad/{{this.id}}">
<div class="card" style="background-image: url('{{this.photoURL}}')">
  {{this.cityname}}
</div>
</a>
{{/each}}
</div>
<p class="place-more-restaurants"><a href="/ciudades" class="waves-effect waves-light btn">Ver más ciudades</a></p>

<h3>Top Restaurantes</h3>
<div class="list-container">
{{#each places}}
<a href="/{{this.slug}}/{{this.id}}">
<div class="card" style="background-image: url('{{this.pictures.[0]}}')">
{{this.name}}
</div>
</a>
{{/each}}
</div>
</div>