<div class="container">

<h3>Resultados de búsqueda:</h3>
<div class="list-container">
{{#if cities}}
{{#each cities}}
<a href="/ciudad/{{this._id}}">
<div class="card" style="background-image: url('{{this.photoURL}}')">
  {{this.cityname}}
</div>
</a>
{{/each}}
{{/if}}
{{#if places}}
{{#each places}}
<a href="/{{this.slug}}/{{this.id}}">
<div class="card" style="background-image: url('{{this.pictures.[0]}}')">
{{this.name}}
</div>
</a>
{{/each}}
</div>
{{/if}}

</div>