<div>
<img class="cover"
    src="https://i2.cdn.turner.com/money/dam/assets/141001144835-innovative-cities-philly-1024x576.jpg" 
    alt="{{cityname}}">
</div>
<h3>Pick one city</h3>
<div class="cov-all">
  <p>{{city.info}}</p>

{{#each cities as |city|}}
  <a href="/cities/detail/{{city._id}}">
    <div class="imgs-cities" style="background-image: url({{city.photoURL}})">
      <button class="city-title">{{city.cityname}}</button>
    </div>
</a>
{{/each}}
</div>

