<header>
  <h2>{{title}}</h2>
  <p>{{city.info}}</p>
</header>
<div class="container">

<h3>Top Ciudades</h3>
<div class="list-container">
{{#each cities}}
<a href="/ciudad/{{this.id}}">
<div class="card" style="background-image: url('{{this.photoURL}}')">
  {{this.cityname}}
</div>
</a>
{{/each}}
</div>
</div>

