
<div id="cover-detail">
<img class="cover-img-det"src="{{city.photoURL}}" alt="{{cityname}}">
<button class="city-title-det">{{city.cityname}}</button>
</div>
<h3 style="text-align: center; font-size:2.5em;font-family: 'Neucha', cursive;, cursive; color: rgb(35, 45, 53);">Los  mejores restaurantes veganos </h3>
<section class="cont-detail">

{{#if places}}

{{#each places}}
  <a href="/{{this.slug}}/{{this._id}}">
    <div class="imgs-cities" style="background-image: url({{this.pictures.[0]}})">
      <button class="city-title">{{this.name}}</button>
    </div>
</a>
{{/each}}
{{/if}}
<div id="map">
</div>
<script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
<script>
mapboxgl.accessToken = "pk.eyJ1IjoiZGFuaWVsYXpyIiwiYSI6ImNqczF4a29xMjF5c3E0M28zdjdmbGtuOGYifQ.qi5aM2jCWVOdO6quS6IqFQ";
const map = new mapboxgl.Map({
container: "map",
style: "mapbox://styles/mapbox/streets-v11",
zoom: 12,
center:[{{city.address.coordinates}}]
})

map.addControl(new mapboxgl.NavigationControl());

const marker = new mapboxgl.Marker({
    color:'green'
})
.setLngLat([{{city.address.coordinates}}])
.addTo(map)
</script>

</section>