<article class="admin">
<h2>List of comments</h2>
{{#each comments}} 
<div class="admin-places-card">
<img src="{{this.photoURL}}">
<div>
<h3><a href="/admin/users/{{this._id}}">{{this.name}}</a></h3>
<p>Active: {{this.active}}</p>
<p><a href="/admin/users/{{this._id}}">Ver mas</a></p>
</div>
</div>
{{/each}}
</article>