<article class="admin">
<h2>{{comment.email}}</h2>
<div>
  <form action="/admin/comments/{{comment._id}}" method="POST">
  <select name="active">
    <option value="true">Active</option>
    <option value="false">Ban</option>
  </select>
  <input type="Submit">
  </form>
  <h3>Comment:</h3>
  <ul>
    <li>{{comment.body}}</li>
    <li>{{comment.pictures}}</li>
    <li>Posteado el: {{comment.createdAt}}</li>
    </ul>
  <h3>Post:</h3>
  <ul>
    <li>Place: {{place.name}}</li>
    </ul>
  <h3>User:</h3>
  <ul>
    <li>Nombre: {{user.name}}</li>
    <li>Email: {{user.email}}</li>
    <li>Registrado el: {{user.createdAt}}</li>
    </ul>
</div>
</article>