<article class="admin">
 <a href="/admin/places">Volver al listado</a>
<h2>Ver comentario</h2>
<div>
  <form action="/admin/comments/{{comment._id}}" method="POST">
  <select name="active">
    <option value="true">Active</option>
    <option value="false">Ban</option>
  </select>
  <input type="Submit">
  </form>
  <h3>Comment:</h3>
  <ul>
    <li>Comentario: {{body}}</li>
    {{#each pictures}}
    <li><img src="{{this}}" alt=""></li>
    {{/each}}
    <li>Posteado el: {{createdAt}}</li>
    </ul>
  <h3>Post:</h3>
  <ul>
    <li>Place: {{place.name}}</li>
    </ul>
  <h3>User:</h3>
  <ul>
    <li>Nombre: {{authorId.name}}</li>
    <li>Email: {{authorId.email}}</li>
    <li>Registrado el: {{authorId.createdAt}}</li>
    </ul>
</div>
</article>